@font-face {
  font-family: 'baloo_2regular';
  src: url('../../assets/baloo2-regular-webfont.woff2') format('woff2'),
  url('../../assets/baloo2-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background-color: var(--select);
}

li {
  list-style: '';
}
