:root {
  // color
  --main: #FF9A76;
  --hover: #FF9A7620;

  // theme
  --background: white;
  --background-gray: #f8f8f8;
  --background-button: #ffffff60;
  --font-color: #303133;
  --font-color-regular: #606266;
  --color-white: white;
  --color-black: black;
}


[data-theme="dark"] {
  --background: #383838;
  --background-gray: #464646;
  --font-color: #eeeeee;
  --font-color-regular: #a09e9a;
  --background-button: #00000060;
  --color-white: black;
  --color-black: white;
}
